
        <div class="post-body">
            <h2 id="example2md">example2.md</h2>
<p><em>markdown is fun</em></p>
<p>Is this a new paragraph?</p>
<p>Is <em>this</em> a new paragraph?</p>
        </div>