<div class="post-title">
    {{ meta.title }}
</div>
<div class="post-body">
    <h2 id="helloworld">Hello, world!</h2>
    <p><em>The first line of this file is saved as the title</em>
    <strong>The first line of this file is saved as the title</strong></p>
</div>